<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommentMapper">
	<sql id="Base_Column_List" >
			a.*
  	</sql>
	
	<!-- 新增-->
	<insert id="save" useGeneratedKeys="true" keyProperty="user_id" parameterType="Map">
		insert into sd_softcomment(
			softcommentid,
			content,
			support_num,
			createtime
		) values (
			#{softcommentid,jdbcType=VARCHAR},
			#{content,jdbcType=VARCHAR},
			#{support_num,jdbcType=VARCHAR},
			#{createtime}
			)
	</insert>
	<!-- 删除-->
	<delete id="delete" parameterType="Map">
       		 delete from sd_user
		where 
    	sd_user_id = #{sd_user_id}
	</delete>
	<!-- 修改 -->
	<update id="edit" parameterType="Map">
		update  sd_softcomment
		<trim suffixOverrides=","> 
    		<set > 
			   <if test="softcommentid != null and softcommentid != ''" >
				   softcommentid = #{softcommentid,jdbcType=VARCHAR},
      		   </if>
			   <if test="content != null and content != ''" >
				   content = #{content,jdbcType=VARCHAR},
      		   </if>
			   <if test="support_num != null and support_num != ''" >
				   support_num = #{support_num,jdbcType=VARCHAR},
      		   </if>
			   <if test="createtime != null and createtime != ''" >
				   createtime = #{createtime,jdbcType=VARCHAR}
      		   </if>
		 	</set>
    	</trim>
			where
		userid = #{userid}
	</update>
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="Map" resultType="Map">
		select 
			<include refid="Base_Column_List" />
		from 
			sd_user a
		where 1=1
			<if test="softcommentid != null and softcommentid != ''">
				and a.softcommentid = #{softcommentid}
			</if>
			<if test="content != null and content != ''">
				and a.content = #{content}
			</if>
			<if test="support_num != null and support_num != ''">
				and a.support_num = #{support_num}
			</if>
			<if test="createtime != null and createtime != ''">
				and a.createtime = #{createtime}
			</if>
	</select>
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="Map" resultType="Map">
		select
			<include refid="Base_Column_List" />
		from sd_comment a
		where 1=1
			<if test="comment_id != null and comment_id != ''">
				and a.comment_id = #{comment_id}
			</if>
			<if test="content != null and content != ''">
				and a.content = #{content}
			</if>
			<if test="score != null and score != ''">
				and a.score = #{score}
			</if>
			<if test="userid != null and userid != ''">
				and a.userid = #{userid}
			</if>
			<if test="workforce_employee_id != null and workforce_employee_id != ''">
				and a.workforce_employee_id = #{workforce_employee_id}
			</if>
			<if test="createtime != null and createtime != ''">
				and a.createtime = #{createtime}
			</if>
			<if test="comuserid != null and comuserid != ''">
				and a.comuserid = #{comuserid}
			</if>
	</select>
	<select id="queryCount" parameterType="Map" resultType="int">
		select 
    			count(a.sd_user_id) as count
		from sd_user a
		where 1=1
			<if test="sd_user_id != null and sd_user_id != ''">
				and a.sd_user_id = #{sd_user_id}
			</if>
			<if test="userid != null and userid != ''">
				and a.userid = #{userid}
			</if>
			<if test="hyb_count != null and hyb_count != ''">
				and a.hyb_count = #{hyb_count}
			</if>
			<if test="hyb_succ_count != null and hyb_succ_count != ''">
				and a.hyb_succ_count = #{hyb_succ_count}
			</if>
			<if test="typezh != null and typezh != ''">
				and a.typezh = #{typezh}
			</if>
	</select>
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
       		 delete from sd_user
		where 
    	sd_user_id in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	<!-- 用户历史评分列表(全部) -->
	<select id="getListAll" parameterType="Map" resultType="Map">
		select
		sde.starttime,sde.endtime,sc.score,sdc.workforce_date
		from sd_workforce_employee sde
		LEFT JOIN sd_comment sc ON sde.workforce_employee_id = sc.workforce_employee_id
		LEFT JOIN sd_workforce_company sdc ON sde.workforce_company_id=sdc.workforce_company_id
		WHERE sde.confirm_boolean = '1'
		<if test="user_id != null and user_id != ''">
			and sc.userid = #{user_id}
		</if>
		ORDER BY sdc.workforce_date ASC

	</select>
	<!--查询员工-->
       <select id="queryListAll" parameterType="Map" resultType="Map">
		   select u.nikename,c.score ,c.createtime
               from sd_comment c
             LEFT JOIN sd_user u ON u.user_id=c.comuserid
		   <if test="user_id != null and user_id != ''">
                where u.user_id=#{user_id};
		   </if>
	   </select>
<!--添加员工评分-->
	<insert id="save1" useGeneratedKeys="true" keyProperty="user_id" parameterType="Map">
		insert into sd_comment(
			comment_id,
			score,
			createtime
		) values (
			#{comment_id,jdbcType=VARCHAR},
			#{score,jdbcType=VARCHAR},
			#{createtime}
			)
	</insert>

<!--修改评分-->
	<update id="edit1" parameterType="Map" >
	update  sd_comment
	<trim suffixOverrides=",">
	<set >
	<if test="score != null and score!= ''" >
		score= #{score,jdbcType=VARCHAR},
	</if>
	</set>
	</trim>
		where
		user_id = #{user_id}
	</update>



	<!--先查询今天需要评分员工的id 排班id 公司id 排班时间-->
	<!-- 再将今天需要评分员工加入评分表 comment-->
	<!--查询-->
	<select id="queryNeedComment" parameterType="Map" resultType="Map">
		SELECT
		sd_workforce_employee_zhou.*
		FROM
		sd_workforce_employee_zhou

		WHERE
		sd_workforce_employee_zhou.confirm_boolean ='1'

		<if test="companyuserid != null and companyuserid != ''">
			and sd_workforce_employee_zhou.companyuserid=#{companyuserid}
		</if>
		<if test="workforce_date != null and workforce_date != ''">
			and sd_workforce_employee_zhou.workforce_date=#{workforce_date}
		</if>
	</select>
	<!--添加comment表中关于评分等数据 除主要数据其他数据为null-->
	<insert id="saveNeedComment" parameterType="Map">
		insert into sd_comment(
		comment_id,
		userid,
		workforce_employee_id,
		createtime,
		comuserid,
		score,
		workforce_date,
		content
		) values (
		#{comment_id,jdbcType=VARCHAR},
		#{userid,jdbcType=VARCHAR},
		#{workforce_employee_id,jdbcType=VARCHAR},
		#{createtime,jdbcType=VARCHAR},
		#{comuserid,jdbcType=VARCHAR},
		#{score,jdbcType=VARCHAR},
		#{workforce_date,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR}
		)
	</insert>

	<!--查询员工 通过时间查找-->
	<select id="queryCommentneByTime" parameterType="Map" resultType="Map">
		select
		sd_comment.comment_id,
		sd_comment.userid,
		sd_user.nikename,
		sd_comment.score
		from
		sd_workforce_employee_zhou
		INNER JOIN
		sd_comment
		ON
		sd_comment.comuserid = sd_workforce_employee_zhou.companyuserid
		AND
		sd_comment.userid = sd_workforce_employee_zhou.userid
		AND
		sd_comment.workforce_date = sd_workforce_employee_zhou.workforce_date
		INNER JOIN
		sd_user
		ON
		sd_user.user_id = sd_comment.userid
		WHERE
		sd_workforce_employee_zhou.confirm_boolean ='1'

		<if test="companyuserid != null and companyuserid != ''">
			and sd_workforce_employee_zhou.companyuserid=#{companyuserid}
		</if>
		<if test="workforce_date != null and workforce_date != ''">
			and sd_workforce_employee_zhou.workforce_date=#{workforce_date}
		</if>
	</select>

	<!--修改员工评分 通过comment.comment_id修改-->
	<update id="editComment" parameterType="Map" >
		update  sd_comment
		<trim suffixOverrides=",">
			<set >
				<if test="score != null and score!= ''" >
					sd_comment.score= #{score,jdbcType=VARCHAR},
				</if>
			</set>
		</trim>
		where
		sd_comment.comment_id = #{comment_id}
	</update>

	<!--查询员工的所有分数-->
	<select id="queryUserSorce" parameterType="Map" resultType="Map">
		select
		sd_comment.score
		from sd_comment
		WHERE
		sd_comment.userid = #{userid}
		AND
		sd_comment.comuserid = #{comuserid}
	</select>
	<!--保存员工平均分-->
	<update id="saveComuser" parameterType="Map" >
		update  sd_comuser
		<trim suffixOverrides=",">
			<set >
				<if test="score != null and score!= ''" >
					sd_comuser.score= #{score,jdbcType=VARCHAR},
				</if>
			</set>
		</trim>
		where
		sd_comuser.userid = #{userid}
		AND
		sd_comuser.companyuserid = #{comuserid}
	</update>



</mapper>